//****************************
//extends
//*****************************

//navigation buttons
%nav-btn {
  color: red;
  padding-top: 10px;
  padding-bottom: 10px;
}

//buttons
%btn {
  color: $white;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  padding: 1em;
  margin-top: 20px;
}

//links
%a-style {
  text-decoration: none;
}

//images
%img-circ {
 max-height: 200px;
  max-width: 200px;
  padding-top: 20px;
}
