//*******************
//buttons
//*******************

.btn {
  &--default {
    @extend %btn;
    @include center;
    background-color: $color-secondary;
  }
  &--success {
    @extend %btn;
    @include center;
    background-color: $button-green;
  }
  &--error {
    @extend %btn;
    @include center;
    background-color: $button-red;
  }
  &--warning {
    @extend %btn;
    @include center;
    background-color: $button-orange;
  }
  &--info {
    @extend %btn;
    @include center;
    background-color: $button-purple;
  }
}
