//*****************
//forms
//*****************

input[type="text"],
input[type="password"] {
  border-style: none;
  border-bottom: 6px solid $color-primary;
  padding-bottom: 10px;
  padding-top: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__label--hidden {
  display: none;
}
