//*****************
//images
//*****************


.img--avatar {
  @include center;
  @extend %img-circ;
}

.img--frame {
  max-width: 100%;
  border: 1px solid $color-text;
  padding: .8em;
}

.img--logo {
  @include mq('md') {
    align-self: flex-start;
    margin-right: auto;
  }
}
