//****************************
//Base Styles
//****************************

* {
  box-sizing: border-box;
}

body {
  color: $color-text;
  font-size: 1em;
  line-height: 1.5;
  padding-bottom: 5em;
  font-family: $font-stack-primary;

}

ul {
  list-style-type: none;
}

.nav a {
  @extend %a-style;
  color: $color-text-dark;
  &:hover {
    color: $white;
  }
}

.grid__col--8 a {
  @extend %a-style;
  color: $color-secondary;
}
